In [82]:
#                        ************Ejercicio 2************

In [83]:
from IPython.display import IFrame  
ciaLink2="https://www.cia.gov/the-world-factbook/field/revenue-from-forest-resources/country-comparison" 
IFrame(ciaLink2, width=900, height=900)

In [84]:
# read web table into pandas DF
import pandas as pd

forestDFs=pd.read_html(ciaLink2, # link
                        header=0, # where is the header?
                        flavor='bs4')

In [85]:
# check object type 
type(forestDFs)

list

In [86]:
# check size
len(forestDFs)

1

In [87]:
# make a copy
forest=forestDFs[0].copy()

In [88]:
# here it is
forest

     Rank                   Country  % of GDP Date of Information
0       1           Solomon Islands     20.27           2018 est.
1       2                   Liberia     13.27           2018 est.
2       3                   Burundi     10.31           2018 est.
3       4             Guinea-Bissau      9.24           2018 est.
4       5  Central African Republic      8.99           2018 est.
..    ...                       ...       ...                 ...
199   200                      Guam      0.00           2018 est.
200   201             Faroe Islands      0.00           2017 est.
201   202                     Aruba      0.00           2017 est.
202   203            Virgin Islands      0.00           2017 est.
203   204                     Macau      0.00           2018 est.

[204 rows x 4 columns]

In [89]:
# see column names:

forest.columns

Index(['Rank', 'Country', '% of GDP', 'Date of Information'], dtype='object')

In [90]:
# or

forest.columns.to_list()

['Rank', 'Country', '% of GDP', 'Date of Information']

In [91]:
forest['Date of Information'].value_counts()

Date of Information
2018 est.    195
2017 est.      7
2015 est.      1
2016 est.      1
Name: count, dtype: int64

In [92]:
#1 Replace '%' by 'pct'.
forest.columns=forest.columns.str.replace(pat=r'%',repl='pct',regex=True)
forest

     Rank                   Country  pct of GDP Date of Information
0       1           Solomon Islands       20.27           2018 est.
1       2                   Liberia       13.27           2018 est.
2       3                   Burundi       10.31           2018 est.
3       4             Guinea-Bissau        9.24           2018 est.
4       5  Central African Republic        8.99           2018 est.
..    ...                       ...         ...                 ...
199   200                      Guam        0.00           2018 est.
200   201             Faroe Islands        0.00           2017 est.
201   202                     Aruba        0.00           2017 est.
202   203            Virgin Islands        0.00           2017 est.
203   204                     Macau        0.00           2018 est.

[204 rows x 4 columns]

In [93]:
#2 Keep the columns Country, pct of GDP, and Date of Informa
forest=forest.drop(columns=["Rank"])
forest

                      Country  pct of GDP Date of Information
0             Solomon Islands       20.27           2018 est.
1                     Liberia       13.27           2018 est.
2                     Burundi       10.31           2018 est.
3               Guinea-Bissau        9.24           2018 est.
4    Central African Republic        8.99           2018 est.
..                        ...         ...                 ...
199                      Guam        0.00           2018 est.
200             Faroe Islands        0.00           2017 est.
201                     Aruba        0.00           2017 est.
202            Virgin Islands        0.00           2017 est.
203                     Macau        0.00           2018 est.

[204 rows x 3 columns]

In [95]:
#3 Change the column name Date of Information to forest_date
forest=forest.rename(columns={"Date of Information": "forest_date"})
forest

                      Country  pct of GDP forest_date
0             Solomon Islands       20.27   2018 est.
1                     Liberia       13.27   2018 est.
2                     Burundi       10.31   2018 est.
3               Guinea-Bissau        9.24   2018 est.
4    Central African Republic        8.99   2018 est.
..                        ...         ...         ...
199                      Guam        0.00   2018 est.
200             Faroe Islands        0.00   2017 est.
201                     Aruba        0.00   2017 est.
202            Virgin Islands        0.00   2017 est.
203                     Macau        0.00   2018 est.

[204 rows x 3 columns]

In [96]:
#4 Make sure there are no spaces as part of the column names
forest.columns=forest.columns.str.replace(pat=r' ',repl='',regex=True)
forest

                      Country  pctofGDP forest_date
0             Solomon Islands     20.27   2018 est.
1                     Liberia     13.27   2018 est.
2                     Burundi     10.31   2018 est.
3               Guinea-Bissau      9.24   2018 est.
4    Central African Republic      8.99   2018 est.
..                        ...       ...         ...
199                      Guam      0.00   2018 est.
200             Faroe Islands      0.00   2017 est.
201                     Aruba      0.00   2017 est.
202            Virgin Islands      0.00   2017 est.
203                     Macau      0.00   2018 est.

[204 rows x 3 columns]

In [98]:
#5 Make sure the cells with text does not have neither trailing nor leading spaces
forest['Country']=forest['Country'].str.strip()
forest

                      Country  pctofGDP forest_date
0             Solomon Islands     20.27   2018 est.
1                     Liberia     13.27   2018 est.
2                     Burundi     10.31   2018 est.
3               Guinea-Bissau      9.24   2018 est.
4    Central African Republic      8.99   2018 est.
..                        ...       ...         ...
199                      Guam      0.00   2018 est.
200             Faroe Islands      0.00   2017 est.
201                     Aruba      0.00   2017 est.
202            Virgin Islands      0.00   2017 est.
203                     Macau      0.00   2018 est.

[204 rows x 3 columns]

In [99]:
#6 Keep only the year value in the column forest_date
forest.forest_date.str.extract(pat=r'(\d+)',expand=True)

        0
0    2018
1    2018
2    2018
3    2018
4    2018
..    ...
199  2018
200  2017
201  2017
202  2017
203  2018

[204 rows x 1 columns]